/**
  * @name Pink <3
  * @author Luke
  * @version 1
  * @description Highly customized dark and pink theme for Discord
  * @authorId 
  * @authorLink
  * @source 
  * @website 
  * @invite 
*/

@import url('https://www.lukemanners.co.uk/discord.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #f94999;
  --darkplus-links: #f94999;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

